<div class="row">
    <h2>Madame Bovary, Flaubert</h2>
    <div>
      Emma Rouault est la fille d’un fermier normand. Elle épouse Charles Bovary, médiocre officier de médecine. Sa vie avec lui dans une bourgade normande la déçoit beaucoup : elle ne ressemble guère à celle que lui faisait rêver les romans sentimentaux dont elle a abreuvé son imagination dans le couvent où elle a été élevée. Elle tente de rendre sa vie plus exaltante par des liaisons adultères et des achats de luxe. Mais ils la conduiront à sa perte.
      Par ce roman, dont le réalisme a fait scandale, Flaubert dénonce les méfaits de l’esprit romantique, sans le mépriser pour autant : il a écrit : « Mme Bovary, c’est moi. »
    </div>
</div>
<br>
<div class="row">
    <a class="btn btn-primary" (click)="toggle()" *ngIf="!open">afficher</a>
    <a class="btn btn-danger" (click)="toggle()" *ngIf="open">masquer</a>
    <br>
    <div [@toggleElement]="toggleElement" class="col-md-6">
      « Nous étions à l’Etude, quand le Proviseur entra, suivi d’un nouveau habillé en bourgeois et d’un garçon de classe qui portait un grand pupitre
    </div>
</div>

<div class="row" *ngIf="quote">
    <h3>Citations</h3>
    <div class="frame col-md-6">
        <div class="citation" [@animateCitation]="animateCitation" (@animateCitation.start)="log($event)" (@animateCitation.done)="log($event)">
            {{ quote.text }}
            <br>
            <em>{{ quote.author}}</em>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-6">
        <a class="btn btn-primary" (click)="getPreviousQuote()">précédente</a>
        <a class="btn btn-primary" (click)="getNextQuote()">suivante</a>
    </div>
</div>
